@charset "UTF-8";

/***************************************/
/*  name:    项目公共样式
/*  author： zhubo
/*  email：  286154864@qq.com
/*  date：   2017-11-28
/***************************************/

body,
ul,
li,
a,
form,
table,
td,
div,
input,
img {
  margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	line-height: 1;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /* 使页面上的字体抗锯齿，更加清晰 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
	display: none;
}

.block {
	display: block;
}

/* 遮罩层 */
.mask {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

/* 页面切换过渡效果 */
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}
