/* theme color */
$--color-primary: #0E61AE;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ff4949;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
